<!-- <footer id="footer">
  <div class="container">
    <div class="row footer-row-1">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs">
        <h2>RESPOND TO A NEW RETAIL REALITY</h2>
        <p>Perpare yourself with with key insights,guides,datapoints,and more.</p>
      </div>
    </div>
    <div class="row footer-row-2">
      <div class="col-6 col-lg-2 col-md-4 col-sm-6 col-xs">
        <h3>Links</h3>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="" class="text-light text-decoration-none">Home</a></li>
          <li class="mb-2"><a href="" class="text-light text-decoration-none">Docs</a></li>
          <li class="mb-2"><a href="" class="text-light text-decoration-none">Examples</a></li>
          <li class="mb-2"><a href="" class="text-light text-decoration-none">Themes</a></li>
          <li class="mb-2"><a href="" class="text-light text-decoration-none">Blog</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 col-md-4 col-sm-6 col-xs">
        <h3>Links</h3>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="" class="text-light text-decoration-none">Home</a></li>
          <li class="mb-2"><a href="" class="text-light text-decoration-none">Docs</a></li>
          <li class="mb-2"><a href="" class="text-light text-decoration-none">Examples</a></li>
          <li class="mb-2"><a href="" class="text-light text-decoration-none">Themes</a></li>
          <li class="mb-2"><a href="" class="text-light text-decoration-none">Blog</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 col-md-4 col-sm-6 col-xs">
        <h3>Links</h3>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="" class="text-light text-decoration-none">Home</a></li>
          <li class="mb-2"><a href="" class="text-light text-decoration-none">Docs</a></li>
          <li class="mb-2"><a href="" class="text-light text-decoration-none">Examples</a></li>
          <li class="mb-2"><a href="" class="text-light text-decoration-none">Themes</a></li>
          <li class="mb-2"><a href="" class="text-light text-decoration-none">Blog</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 col-md-4 col-sm-6 col-xs">
        <h3>Links</h3>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="" class="text-light text-decoration-none">Home</a></li>
          <li class="mb-2"><a href="" class="text-light text-decoration-none">Docs</a></li>
          <li class="mb-2"><a href="" class="text-light text-decoration-none">Examples</a></li>
          <li class="mb-2"><a href="" class="text-light text-decoration-none">Themes</a></li>
          <li class="mb-2"><a href="" class="text-light text-decoration-none">Blog</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 col-md-4 col-sm-6 col-xs">
        <h3>Links</h3>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="" class="text-light text-decoration-none">Home</a></li>
          <li class="mb-2"><a href="" class="text-light text-decoration-none">Docs</a></li>
          <li class="mb-2"><a href="" class="text-light text-decoration-none">Examples</a></li>
          <li class="mb-2"><a href="" class="text-light text-decoration-none">Themes</a></li>
          <li class="mb-2"><a href="" class="text-light text-decoration-none">Blog</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 col-md-4 col-sm-6 col-xs">
        <h3>Links</h3>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="" class="text-light text-decoration-none">Home</a></li>
          <li class="mb-2"><a href="" class="text-light text-decoration-none">Docs</a></li>
          <li class="mb-2"><a href="" class="text-light text-decoration-none">Examples</a></li>
          <li class="mb-2"><a href="" class="text-light text-decoration-none">Themes</a></li>
          <li class="mb-2"><a href="" class="text-light text-decoration-none">Blog</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-row-3">
      <div>
        <img src="images/logo.jpg" alt="">
      </div>
      <div class="row mt-5">
        <div class="col-6 fs-6">
          <a href="" class="text-light text-decoration-none">
            <p>© 2021 - Kibo Commerce | All Rights Reserved | GDPR | Privacy Policy | Modern Slavery Statement</p>
          </a>
        </div>
        <div class="col-6 fs-6">
          <a href="" class="text-light text-decoration-none">
            <p>1-877-350-3866 | 717 N Harwood St #1900, Dallas, TX 75201, USA</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer> -->
