<section id="sec-3">
  <div class="container">
    <div class="row text-center mt-5">
      <h1>Services we provide</h1>
    </div>
    <div class="row">
      <div>
        <p>STAY UP TO DATE</p>
        <h1>MODERN HOUSES</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-4 col-xs">
        <div class="card sec-3-card shadow p-3 mb-4 bg-body rounded">
          <div class="card-body sec-3-card-cont">
            <img src="../../assets/images/house-1.jpg" class="img-fluid" alt="">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="card-link">Card link</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-4 col-xs">
        <div class="card sec-3-card shadow p-3 mb-4 bg-body rounded">
          <div class="card-body sec-3-card-cont">
            <img src="../../assets/images/house-3.jpg" class="img-fluid" alt="" style="height: 172px;">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="card-link">Card link</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-4 col-xs">
        <div class="card sec-3-card shadow p-3 mb-5 bg-body rounded">
          <div class="card-body sec-3-card-cont">
            <img src="../../assets/images/house-4.jpg" class="img-fluid" alt="">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="card-link">Card link</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



