<section>
  <div class="container">
    <div class="row mt-5 text-center">
      <div class="col-6">
        <div class="card">
          <div>
            <input type="text" name="" id="fn" #firstname1 placeholder="first-name" class="form-control mt-4 mb-4 p-2"
              required />
          </div>
          <div>
            <input type="text" name="" id="ln" #lastname1 placeholder="last-name" class="form-control mt-4 mb-4 p-2"
              required />
          </div>
          <!-- <div>
            <input type="text" name="" id="" placeholder="email" class="form-control mt-4 mb-4 p-2" required />
          </div>
          <div>
            <input type="tet" name="" id="" placeholder="phonenum" class="form-control mt-4 mb-4 p-2" required />
          </div>
          <div>
            <input type="text" name="" id="" placeholder="password" class="form-control mt-4 mb-4 p-2" required />
          </div> -->
          <div>
            <input type="button" name="" id="" value="click" (click)="check(firstname1.value,lastname1.value)"
              class="btn btn-success mt-4 mb-4 p-2" required />
          </div>
        </div>
      </div>



    </div>
  </div>
</section>